{%extends 'shop/base.html'%}

{% block content %}
<div class="layout-positioner">
    <div class="register-login-form-container">
        <div class="stock-info">
            <h1>Регистрация </h1>
        </div>

        {% if not user.is_authenticated %}
            <form class="signup login" method="POST">
                {% csrf_token %}
                <table>{{ form }}</table> <!-- Тут надо поменять размеры полей -->
                <input class="login-button" type="submit" value="Зарегистрироваться"/>
            </form>
        {% else %}
            <p>Как ты сюда попал, ты же уже вошел</p>
        {% endif %}
    </div>
</div>

{%endblock%}